@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
	font: 1em 'Droid Sans', Arial, sans-serif;
}
a:link, a:visited {
	color: #555;
	text-decoration: none;
}
a:hover, a:active {
	color: #000;
}
.headline {
	text-align: center;
	padding: 0 0 1em 0;
	border-bottom: 1em solid #ccc;
}
.wrapper {
	max-width: 55em;
	margin: 0 auto;
	padding: 0 1em;
}
header {
	padding: 1em 0;
	margin-bottom: 2em;
	border-bottom: 1em solid #ccc;
}
h1 {
	margin: 0;
	padding: 0;
}
.logo {
	float: left;
	margin: 0.4em 1em 0.4em 0;
	border-radius: .5em;
}
header small {
	float: right;
	font-size: 60%;
	color: #ccc;
	padding-top: 0.4em;
}
#disqus_thread {
	margin-top: 1em;
}
header a,
footer a {
	text-decoration: none;
}
iframe {
	max-width: 100%;
}
footer {
	margin: 3em 0 0 0;
	padding: 2em 0;
	border-top: 2px solid #ccc;
}
.nav-footer {
	list-style: none;
	margin: 1em 0 0 0;
	padding: 0;
}
.nav-footer li {
	display: inline;
	margin-right: 1em;
}
@media (max-width: 33em) {
	header {
		padding: 1em 0 2.5em 0;
	}
}